{% comment %}
    Renders product modal video and models media

    Accepts:
    - media: {Object} Liquid media object

    Usage:
    {% render 'product-media', media: product.media %}
{% endcomment %}

<div class="product__gallery-wrapper swiper-slide">
  <{%- if media.media_type == 'video' or media.media_type == 'external_video' %}deferred-media{%- else %}product-model{%- endif %}
   class="deferred-media media"
   data-media-id="{{- media.id -}}"
  >
    {%-
      liquid
      assign image_src = media.preview_image | image_url: width: 500
      capture image_srcset
        render 'srcset', image: media.preview_image
      endcapture
      assign sizes = 'auto'
      assign image_alt = media.alt | escape
      render 'image', src: image_src, srcset: image_srcset, sizes: sizes, alt: image_alt, width: media.preview_image.width, height: media.preview_image.height
    -%}
    <template>
      <div class="deferred-media__wrapper">
        {%- case media.media_type -%}
          {%- when 'external_video' -%}
            {%- assign video_class = 'js-' | append: media.host -%}
            {{- media | external_video_url: autoplay: true, loop: true | external_video_tag: class: video_class, loading: 'lazy' -}}
          {%- when 'video' -%}
            {{- media | media_tag: image_size: '2048x', autoplay: true, loop: true, controls: true, preload: 'none' -}}
          {%- else -%}
            {{- media | media_tag: image_size: '2048x', toggleable: true -}}
        {%- endcase -%}
      </div><!-- /.deferred-media__wrapper -->
    </template>
  </{%- if media.media_type == 'video' or media.media_type == 'external_video' %}deferred-media{%- else %}product-model{%- endif %}>
</div><!-- /.product__gallery-wrapper -->
